<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="YourDbConnectionString" connectionString="Data Source=(local);Initial Catalog=Sample;User ID=Park;Password=1234" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>